<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IndioMendoza2013Entities" connectionString="metadata=res://*/IndioMendoza2013.csdl|res://*/IndioMendoza2013.ssdl|res://*/IndioMendoza2013.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PANRO-PC\;initial catalog=te000464_IndioMendoza2013;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>