
<script language="javascript" type="text/javascript">

    function frmRuta0_submit() {
        $("#frmRuta0").submit();
    }
</script>
<div style="width:100%; height:100%; min-height: 800px;">
    <div  style="padding-left:15px;padding-right:30px;">
        <table width="100%">
        <tr>
            <td width="10%">
                 <b>Dirección:</b>
            </td>
            <td width="90%">
                San Francisco De Asis y Boulogne<br />
                Mendoza<br />
                Mendoza, Argentina<br /><br /><br />
            </td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #B4B5B0; background-color: #EEEEEE; font-size:medium;" colspan="2"><b>EN AUTO</b></td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%">
                <tr>
                    <td width="40%">
                        Ponés la localidad de partida, la de llegada y listo! Ruta0 te muestra distancias totales, parciales, rutas alternativas, <a target="_blank" href="http://www.ruta0.com/">estaciones de GNC</a>, costo de los peajes y fotos y recomendaciones para tu próximo viaje.
                    </td>
                    <td width="20%"><img src="http://ruta0.biz/pix/la-mejor-ruta.gif" alt="BUSCADOR DE RUTAS ARGENTINAS" width="194" height="75" border="0"></td>
                    <td width="20%">
	                    <form target="_blank" id="frmRuta0" class="asholder" name="fla" action="http://www.ruta0.com/rutas_argentinas.aspx">
		                    <input name="d1" type="text" id="d1" value="Desde" size="25" style="width:192px;" onclick="if(this.value=='Desde')this.value='';" onblur="if(this.value=='')this.value='Desde';" autocomplete="off">
		                    <input readonly="readonly" value="Mendoza" name="h1" type="text" id="h1" value="Hasta" size="25" style="width:192px;" onclick="if(this.value=='Hasta')this.value='';" onblur="if(this.value=='')this.value='Hasta';" autocomplete="off">
		                    <select name="tipo" style="width:192px;">
		                    <option value="1">Ruta recomendada (prefiere autopistas y caminos en buen estado)</option>
		                    <option value="2">Ruta mas corta en km (aunque pase por ripio y caminos en mal estado)</option>
		                    <option value="3">Optimizar para GNC (prefiere atraversar ciudades que cuenten con expendio de GNC)</option></select>
                            <input type="hidden" name="desde" id="desde"><input type="hidden" value="66" name="hasta" id="hasta">
		                    <input type="hidden" name="tipoq" value="1">
                        </form>
                    </td>
                    <td width="20%">
                        <input type="button" onclick="frmRuta0_submit();" value="Buscar rutas">
                    </td>
                </tr>
                </table>
                <br /><br />
            </td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #B4B5B0;background-color: #EEEEEE;font-size:medium;" colspan="2"><b>EN COLECTIVO</b></td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%">
                <tr>
                    <td width="25%">
                        <a target="_blank" href="http://www.andesmar.com/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Andesmar.gif" /></a>
                    </td>
                    <td width="25%">
                        <a target="_blank" href="http://www.catainternacional.com/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Cata.gif" /></a>
                    </td>
                    <td width="25%">
                        <a target="_blank" href="http://www.centralargentinosrl.com.ar/"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Central_Argentino.gif" /></a>
                    </td>
                    <td width="25%">
                        <a target="_blank" href="http://www.nuevachevallier.com/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Chevallier.jpg" /></a>
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        <a target="_blank" href="http://www.flechabus.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_FlechaBus.jpg" /></a>
                    </td>
                    <td width="25%">
                        <a target="_blank" href="http://www.grupoplaza.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Grupo_Plaza.gif" /></a>
                    </td>
                    <td width="25%">
                        <a target="_blank" href="http://www.rapido-argentino.com/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Rapido_Argentino.gif" /></a>
                    </td>
                    <td width="25%">
                        <a target="_blank" href="http://www.elrapidoint.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Rapido_Internacional.gif" /></a>
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        <a target="_blank" href="http://www.sanjuanmardelplatasa.com/"><img width="200" height="50" src="/Content/img/logosbondis/Logo_SanJuan_Mardelplata.gif" /></a>
                    </td>
                    <td width="25%">
                        <a target="_blank" href="http://www.vytsendas.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Transporte_Sendas.gif" /></a>
                    </td>
                    <td width="25%">
                        <a target="_blank" href="http://www.viabariloche.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Via_Bariloche.gif" /></a>
                    </td>
                    <td width="25%">
                        <a target="_blank" href="http://www.viatac.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Via_Tac.gif" /></a>
                    </td>
                </tr>
                </table>
                <br /><br /><br />
            </td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #B4B5B0;background-color: #EEEEEE;font-size:medium;" colspan="2"><b>EN AVIÓN</b></td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%">
                <tr>
                    <td width="30%">
                        <img src="/Content/img/AerolineasArgentinasLogo.png" />
                    </td>
                    <td width="30%">
                        <img src="/Content/img/PropagandaAerolineasArgentinas.jpg" />
                    </td>
                    <td width="40%" style="vertical-align: middle;">
                        <a target="_blank" href="http://www.aerolineas.com.ar/arg/main.asp?idSitio=AR&idPagina=110&idIdioma=es&destino=MDZ"><img src="/Content/img/Boton-AerolineasArgentinas.png" /></a>
                    </td>
                </tr>
                </table>
                <br /><br />
            </td>
        </tr>
        </table>
    </div>
    <br /><br /><br /><br />
    <hr />
    <div style="text-align:center;">
        <div class="fb-comments" data-href="@(System.Configuration.ConfigurationManager.AppSettings["URLPag"])/Info/ComoLlegar" data-width="950" data-num-posts="10"></div>
    </div>
</div>
