<style type="text/css">
.titular_zona 
{
    font-weight:bold;
}
.subtitulo_donde_comprar 
{
    font-weight: bold;
    color:#38761d;
}
.punto_de_venta
{
    color: #0b5394;
    font-weight: bold;
}
</style>
<div style="width:100%; height:100%; min-height: 800px;">
    <table>
    <tr>
        <td style="padding-left:15px; text-align:center;">
            <img src="/Content/img/indio_mendoza_2013_entradas_mod.jpg" /><br /><br />
        </td>
    </tr>
    <tr>
        <td class="subtitulo_donde_comprar">
            GENERAL (CAMPO) CON ACCESO A POPULAR: $ 300 PLATEA: $ 400<br />
            ENTRADAS ANTICIPADAS A PARTIR DEL LUNES 22 DE JULIO EN:
        </td>
    </tr>
    <tr>
        <td>
            <br />
            <div class="titular_zona">Capital Federal:</div>
            <div>
            <span class="punto_de_venta">MAGIMUSICA</span> (Av. Corrientes 1644)<br />
            <span class="punto_de_venta">DISQUERIA SUITE</span> (Av. Cabildo 1849, Galeria Gral. Belgrano)<br />
            <span class="punto_de_venta">DISQUERIA CESAR PO</span> (Av. Rivadavia 7100)<br />
            <span class="punto_de_venta">CLICKMUSICSTORE</span> (Crisólogo Larralde 2199)<br />
            <span class="punto_de_venta">ROCANROL DEL PAIS/DEMENTES</span> (J.D.Perón 2767)<br />
            <span class="punto_de_venta">GUIA MUSICAL</span> (Ramón Falcón 7059, Liniers)<br />
            </div><br />
            <div class="titular_zona">Bahía Blanca:</div>
            <div>
            <span class="punto_de_venta">CASA PANELLI</span> (Ohiggins 250)<br />
            </div>
            <br />
            <div class="titular_zona">Campana:</div>
            <div>
            <span class="punto_de_venta">MELODIAS</span> ( 25 de Mayo 846)<br />
            </div>
            <br />
            <div class="titular_zona">Córdoba:</div>
            <div>
            <span class="punto_de_venta">EDEN</span> (Obisco Trejo 15)<br />
            </div>
            <br />
            <div class="titular_zona">Jujuy:</div>
            <div>
            <span class="punto_de_venta">FICCION</span> (Belgrano 616)<br />
            </div>
            <br />
            <div class="titular_zona">La Plata:</div>
            <div>
            <span class="punto_de_venta">GÉNESIS DISCOS</span> (Calle 6 nº 778 e/47 y 48)<br />
            </div>
            <br />
            <div class="titular_zona">Lujan:</div>
            <div>
            <span class="punto_de_venta">STELMAR</span> (Mitre 383)<br />
            </div>
            <br />
            <div class="titular_zona">Mendoza:</div>
            <div>
            <span class="punto_de_venta">LE CLUB MUSICA</span> (España 516)<br />
            </div>
            <br />
            <div class="titular_zona">Neuquén:</div>
            <div>
            <span class="punto_de_venta">MIX LASER</span> (Buenos Aires 392)<br />
            </div>
            <br />
            <div class="titular_zona">Quilmes:</div>
            <div>
            <span class="punto_de_venta">LA FUSA</span> (Moreno 539)<br />
            </div>
            <br />
            <div class="titular_zona">Rosario:</div>
            <div>
            <span class="punto_de_venta">MUSICSHOP</span> (Sarmiento 780)<br />
            </div>
            <br />
            <div class="titular_zona">Santiago del Estero:</div>
            <div>
            <span class="punto_de_venta">PAGO DONDE NACI</span> (Independiencia 253, Local 3)<br />
            </div>
            <br />
            <div class="titular_zona">San Juan:</div>
            <div>
            <span class="punto_de_venta">MUSISHOP</span> (Rivadavia 160 Este, Local 1)<br />
            </div>
            <br />
            <i><b>Venta  directa a combis micros y agencias de turismo en entradas@dbndiscos.com (a partir de 50 entradas)</b></i><br /><br />
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            <hr />
            <div class="fb-comments" data-href="@(System.Configuration.ConfigurationManager.AppSettings["URLPag"])/Info/DondeComprar" data-width="950" data-num-posts="10"></div>
        </td>
    </tr>
    </table>
</div>