
<div style="width:100%; height:100%">
<table>
<tr>
<td style="padding-left:15px;height:40px" width="600px">
    <div style="font-size: medium; font-weight: bold">Hipódromo de Gualeguaychú</div>
    <div>Provincia de Entre Ríos</div>
</td>
<td width="500px" rowspan="3">
    <iframe width="400" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ar/maps?client=firefox-a&amp;ie=UTF8&amp;q=hipodromo+de+gualeguaychu&amp;fb=1&amp;gl=ar&amp;hq=hipodromo&amp;hnear=Gualeguaych%C3%BA,+Entre+R%C3%ADos&amp;ll=-33.021337,-58.525547&amp;spn=0.020187,0.042272&amp;t=h&amp;z=14&amp;iwloc=A&amp;cid=9803070358772315235&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.ar/maps?client=firefox-a&amp;ie=UTF8&amp;q=hipodromo+de+gualeguaychu&amp;fb=1&amp;gl=ar&amp;hq=hipodromo&amp;hnear=Gualeguaych%C3%BA,+Entre+R%C3%ADos&amp;ll=-33.021337,-58.525547&amp;spn=0.020187,0.042272&amp;t=h&amp;z=14&amp;iwloc=A&amp;cid=9803070358772315235&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
</td>
</tr>
<tr>
    <td style="text-align: center; height:260px">
        <img width="550px" height="250px" src="/Content/img/Hipódromo%20de%20Gualeguaychú.jpg" />
    </td>
</tr>
<tr>
    <td style="padding-left:15px;padding-right:15px;">
        <div style="text-align:justify">
        El 26 de abril de 1867 un contingente de Irlandeses que habían desembarcado en la ciudad de Gualeguaychú, deciden crear un “Círculo de Carreras” que llamaron “Gualeguaychú English Race Club” y nombrando a su Hipódromo “Primer Entrerriano” que contaba con una pista de 1628 mts, e incorporaba el reglamento de las carreras de Inglaterra, como así también el uso de montura especialmente traída de su lugar de origen.
<br />En un principio molestó a los competidores lugareños su forma circular debido a que estaban acostumbrados a correr en rectas de 300 o 400 mts. Con el tiempo los mismos se fueron amigando a esta forma y a este reglamento.<br />
Los ejemplares que competían en esta época eran mestizos procedentes del lugar y de la República Oriental del Uruguay, los cuales eran trasladados a nado. Las competencias se realizaban de acuerdo a los metros que recorría cada ejemplar, o si estaban alimentados con maíz o no, para esto un árbitro controlaba sus residuos dos horas antes de cada carrera. El primer pura sangre que recibió el hipódromo fue “Bonnie Dundee”, procedente de “Los Sajones”, ubicada en Los Ranchos, Provincia de Buenos Aires.
Hoy en día el Hipódromo de Gualeguaychú, cuenta con más de 140 años de Historia.
        </div>
    </td>
</tr>
<tr>
    <td colspan="2">
        <div style="border-bottom: 2px solid Gray; padding-bottom:5px; margin: 20px; margin-top: 0px; font-size: x-large; font-weight: bold; color: Gray; ">
            ¿Cómo llegar?
        </div>
        <div  style="padding-left:15px; padding-top:10px; padding-right:30px;">
            <table width="100%">
            <tr>
                <td width="10%">
                     <b>Dirección:</b>
                </td>
                <td width="90%">
                    Constitución y Hernández<br />
                    Gualeguaychú<br />
                    Entre Ríos, Argentina<br /><br /><br />
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #B4B5B0; background-color: #EEEEEE; font-size:medium;" colspan="2"><b>EN AUTO</b></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%">
                    <tr>
                        <td width="40%">
                            Ponés la localidad de partida, la de llegada y listo! Ruta0 te muestra distancias totales, parciales, rutas alternativas, <a target="_blank" href="http://www.ruta0.com/">estaciones de GNC</a>, costo de los peajes y fotos y recomendaciones para tu próximo viaje.
                        </td>
                        <td width="20%"><img src="http://ruta0.biz/pix/la-mejor-ruta.gif" alt="BUSCADOR DE RUTAS ARGENTINAS" width="194" height="75" border="0"></td>
                        <td width="20%">
	                        <form target="_blank" id="frmRuta0" class="asholder" name="fla" action="http://www.ruta0.com/rutas_argentinas.aspx">
		                        <input name="d1" type="text" id="d1" value="Desde" size="25" style="width:192px;" onclick="if(this.value=='Desde')this.value='';" onblur="if(this.value=='')this.value='Desde';" autocomplete="off">
		                        <input readonly="readonly" value="Gualeguaychú" name="h1" type="text" id="h1" value="Hasta" size="25" style="width:192px;" onclick="if(this.value=='Hasta')this.value='';" onblur="if(this.value=='')this.value='Hasta';" autocomplete="off">
		                        <select name="tipo" style="width:192px;">
		                        <option value="1">Ruta recomendada (prefiere autopistas y caminos en buen estado)</option>
		                        <option value="2">Ruta mas corta en km (aunque pase por ripio y caminos en mal estado)</option>
		                        <option value="3">Optimizar para GNC (prefiere atraversar ciudades que cuenten con expendio de GNC)</option></select>
                                <input type="hidden" name="desde" id="desde"><input type="hidden" value="29" name="hasta" id="hasta">
		                        <input type="hidden" name="tipoq" value="1">
                            </form>
                        </td>
                        <td width="20%">
                            <input type="button" onclick="frmRuta0_submit();" value="Buscar rutas">
                        </td>
                    </tr>
                    </table>
                    <br /><br />
                </td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid #B4B5B0;background-color: #EEEEEE;font-size:medium;" colspan="2"><b>EN COLECTIVO</b></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%">
                    <tr>
                        <td width="25%">
                            <a target="_blank" href="http://www.andesmar.com/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Andesmar.gif" /></a>
                        </td>
                        <td width="25%">
                            <a target="_blank" href="http://www.catainternacional.com/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Cata.gif" /></a>
                        </td>
                        <td width="25%">
                            <a target="_blank" href="http://www.centralargentinosrl.com.ar/"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Central_Argentino.gif" /></a>
                        </td>
                        <td width="25%">
                            <a target="_blank" href="http://www.nuevachevallier.com/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Chevallier.jpg" /></a>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <a target="_blank" href="http://www.flechabus.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_FlechaBus.jpg" /></a>
                        </td>
                        <td width="25%">
                            <a target="_blank" href="http://www.grupoplaza.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Grupo_Plaza.gif" /></a>
                        </td>
                        <td width="25%">
                            <a target="_blank" href="http://www.rapido-argentino.com/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Rapido_Argentino.gif" /></a>
                        </td>
                        <td width="25%">
                            <a target="_blank" href="http://www.elrapidoint.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Rapido_Internacional.gif" /></a>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%">
                            <a target="_blank" href="http://www.sanjuanmardelplatasa.com/"><img width="200" height="50" src="/Content/img/logosbondis/Logo_SanJuan_Mardelplata.gif" /></a>
                        </td>
                        <td width="25%">
                            <a target="_blank" href="http://www.vytsendas.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Transporte_Sendas.gif" /></a>
                        </td>
                        <td width="25%">
                            <a target="_blank" href="http://www.viabariloche.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Via_Bariloche.gif" /></a>
                        </td>
                        <td width="25%">
                            <a target="_blank" href="http://www.viatac.com.ar/?"><img width="200" height="50" src="/Content/img/logosbondis/Logo_Via_Tac.gif" /></a>
                        </td>
                    </tr>
                    </table>
                    <br /><br /><br />
                </td>
            </tr>
            </table>
        </div>
    </td>
</tr>
<tr>
    <td colspan="2" style="text-align:center">
        <hr />
        <div class="fb-comments" data-href="@(System.Configuration.ConfigurationManager.AppSettings["URLPag"])/Info/DondeEs" data-width="950" data-num-posts="10"></div>
    </td>
</tr>
</table>
</div>
