
<div style="width:100%; height:100%">
<table>
<tr>
<td style="padding-left:15px;height:40px" width="600px">
    <div style="font-size: medium; font-weight: bold">Hipódromo de Mendoza</div>
    <div>Provincia de Mendoza</div>
</td>
<td width="500px" rowspan="3">
    <iframe width="400" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ar/maps?f=d&amp;source=s_q&amp;hl=es&amp;geocode=%3BCVBQ4V8Ll7wAFSDYCf4dbiTl-ynRuqcAmQl-ljFT-u5XsdNSZQ&amp;q=Hipodromo+de+Mendoza,+Mendoza&amp;aq=0&amp;oq=hipodromo+de+mendoza&amp;sll=-32.905596,-68.851204&amp;sspn=0.03848,0.084543&amp;gl=ar&amp;ie=UTF8&amp;hq=Hipodromo&amp;hnear=Mendoza&amp;t=m&amp;daddr=Hip%C3%B3dromo+Mendoza,+Mendoza&amp;ll=-32.907767,-68.869429&amp;spn=0.043235,0.034332&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.ar/maps?f=d&amp;source=embed&amp;hl=es&amp;geocode=%3BCVBQ4V8Ll7wAFSDYCf4dbiTl-ynRuqcAmQl-ljFT-u5XsdNSZQ&amp;q=Hipodromo+de+Mendoza,+Mendoza&amp;aq=0&amp;oq=hipodromo+de+mendoza&amp;sll=-32.905596,-68.851204&amp;sspn=0.03848,0.084543&amp;gl=ar&amp;ie=UTF8&amp;hq=Hipodromo&amp;hnear=Mendoza&amp;t=m&amp;daddr=Hip%C3%B3dromo+Mendoza,+Mendoza&amp;ll=-32.907767,-68.869429&amp;spn=0.043235,0.034332" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
</td>
</tr>
<tr>
    <td style="text-align: center; height:310px">
        <img width="575px" height="300px" src="/Content/img/Hipodromo%20De%20Mendoza%20-%20Foto.png" />
    </td>
</tr>
<tr>
    <td style="padding-left:15px;padding-right:15px;">
        <div style="text-align:justify">
        Proximamente...
        </div>
    </td>
</tr>
<tr>
    <td colspan="2" style="text-align:center">
        <hr />
        <div class="fb-comments" data-href="@(System.Configuration.ConfigurationManager.AppSettings["URLPag"])/Info/DondeEs" data-width="950" data-num-posts="10"></div>
    </td>
</tr>
</table>
</div>
