<style type="text/css">
.titular_zona 
{
    font-weight:bold;
}
.subtitulo_donde_comprar 
{
    font-weight: bold;
    color:#38761d;
}
.punto_de_venta
{
    color: #0b5394;
    font-weight: bold;
}
</style>
<div style="width:100%; height:100%; min-height: 800px;">
    <table>
    <tr>
        <td style="padding-left:15px; text-align:center;">
            <img src="/Content/img/Indio-Mendoza-2013-Donde-Comprar-Datos.jpg" width="600"/><br /><br />
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-size: medium; color:#AEB404;"><b>ENTRADAS EN VENTA A PARTIR DEL MIERCOLES 21 DE AGOSTO</b></div>
            <b>PUNTOS DE VENTA AUTORIZADOS</b><br /><br />

            <b>CAPITAL FEDERAL</b><br />
            MICRO ESTADIO MALVINAS ARGENTINAS/ARG. JUNIORS<br />
            (Gutenberg 350)<br />
            LUNES A VIERNES DE 10 A 18 HS<br /><br />

            <b>BAHIA BLANCA</b><br />
            CASA PANELLI (Ohiggins 250)<br /><br />

            <b>CAMPANA</b><br />
            MELODÍAS (25 DE Mayo 846)<br /><br />

            <b>CÓRDOBA</b><br />
            EDEN (Obisco Trejo 15)<br /><br />

            <b>JUJUY</b><br />
            FICCION (Belgrano 616)<br /><br />

            <b>LA PLATA</b><br />
            GÉNESIS DISCOS (Calle 6 Nº 778 E/47 Y 48)<br /><br />

            <b>ROSARIO</b><br />
            MUSICSHOP (Sarmiento 780)<br />
            AMADEUS ROCK (Córdoba 1369 L.9)<br /><br />

            <b>SANTIAGO DEL ESTERO</b><br />
            PAGO DONDE NACI (Independiencia 253, Local 3)<br /><br />

            <b>TANDIL</b><br />
            MANHATTAN INSTRUMENTOS MUSICALES (Chacabuco 837)<br /><br />

            <b>MENDOZA</b><br />
            <b>CAPITAL</b><br />
            ESTADIO MALVINAS ARGENTINAS (Parque Gral. San Martín)<br />
            LUNES A VIERNES DE 10 A 18 HS<br />
            <b>SAN MARTIN</b><br />
            POLIDEPORTIVO TORITO RODRIGUEZ (Av. Eva Perón S/N)<br />
            LUNES A SÁBADO DE 10 A 18 HS<br /><br />

            <b>Micros y mayoristas escribir a entradas@dbndiscos.com</b><br /><br />

            LAS ENTRADAS YA ADQUIRIDAS DE CAMPO, POPULAR SUR/NORTE Y PLATEAS SON VÁLIDAS.<br />
            EN CASO DE QUERER DEVOLVER O CAMBIAR LA ENTRADA, HACERLO EN LOS PUNTOS DE VENTA ACTUALES.<br />
            AL QUE ADQUIRIÓ UNA PLATEA SE LE DEVOLVERÁN LOS $100 DE DIFERENCIA, Y SI QUIERE DEVOLVER LA ENTRADA, TAMBIEN PODRÁ HACERLO.<br /><br />

            <b>COMO YA SE ANUNCIÓ HACE ALGUNOS DIAS, SE VENDERAN ENTRADAS EN LA BOLETERIA DEL AUTÓDROMO,  EL DIA DEL SHOW.</b><br />
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            <hr />
            <div class="fb-comments" data-href="@(System.Configuration.ConfigurationManager.AppSettings["URLPag"])/Info/DondeComprar" data-width="950" data-num-posts="10"></div>
        </td>
    </tr>
    </table>
</div>