
<div style="width:100%; height:100%">
<table>
<tr>
<td style="padding-left:15px;height:40px" width="600px">
    <div style="font-size: medium; font-weight: bold">Hipódromo de Gualeguaychú</div>
    <div>Provincia de Entre Ríos</div>
</td>
<td width="500px" rowspan="3">
    <iframe width="400" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ar/maps?client=firefox-a&amp;ie=UTF8&amp;q=hipodromo+de+gualeguaychu&amp;fb=1&amp;gl=ar&amp;hq=hipodromo&amp;hnear=Gualeguaych%C3%BA,+Entre+R%C3%ADos&amp;ll=-33.021337,-58.525547&amp;spn=0.020187,0.042272&amp;t=h&amp;z=14&amp;iwloc=A&amp;cid=9803070358772315235&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.ar/maps?client=firefox-a&amp;ie=UTF8&amp;q=hipodromo+de+gualeguaychu&amp;fb=1&amp;gl=ar&amp;hq=hipodromo&amp;hnear=Gualeguaych%C3%BA,+Entre+R%C3%ADos&amp;ll=-33.021337,-58.525547&amp;spn=0.020187,0.042272&amp;t=h&amp;z=14&amp;iwloc=A&amp;cid=9803070358772315235&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
</td>
</tr>
<tr>
    <td style="text-align: center; height:260px">
        <img width="550px" height="250px" src="/Content/img/Hipódromo%20de%20Gualeguaychú.jpg" />
    </td>
</tr>
<tr>
    <td style="padding-left:15px;padding-right:15px;">
        <div style="text-align:justify">
        El 26 de abril de 1867 un contingente de Irlandeses que habían desembarcado en la ciudad de Gualeguaychú, deciden crear un “Círculo de Carreras” que llamaron “Gualeguaychú English Race Club” y nombrando a su Hipódromo “Primer Entrerriano” que contaba con una pista de 1628 mts, e incorporaba el reglamento de las carreras de Inglaterra, como así también el uso de montura especialmente traída de su lugar de origen.
<br />En un principio molestó a los competidores lugareños su forma circular debido a que estaban acostumbrados a correr en rectas de 300 o 400 mts. Con el tiempo los mismos se fueron amigando a esta forma y a este reglamento.<br />
Los ejemplares que competían en esta época eran mestizos procedentes del lugar y de la República Oriental del Uruguay, los cuales eran trasladados a nado. Las competencias se realizaban de acuerdo a los metros que recorría cada ejemplar, o si estaban alimentados con maíz o no, para esto un árbitro controlaba sus residuos dos horas antes de cada carrera. El primer pura sangre que recibió el hipódromo fue “Bonnie Dundee”, procedente de “Los Sajones”, ubicada en Los Ranchos, Provincia de Buenos Aires.
Hoy en día el Hipódromo de Gualeguaychú, cuenta con más de 140 años de Historia.
        </div>
    </td>
</tr>
<tr>
    <td colspan="2" style="text-align:center">
        <hr />
        <div class="fb-comments" data-href="@(System.Configuration.ConfigurationManager.AppSettings["URLPag"])/Info/DondeEs" data-width="950" data-num-posts="10"></div>
    </td>
</tr>
</table>
</div>
