@using IndioMendoza2013.Modelos
@model modBondiRicotero

<table border="0" width="100%">
<tr>
    <td style="text-align: center;"><h2>@Model.Nombre</h2></td>
</tr>
<tr>
    <td>@Model.Detalle</td>
</tr>
</table>