<script language="javascript" type="text/javascript">
    function cerrarModalConstruccion() {
        $("#modalMensajeEnConstruccion").dialog('close');
    }

    $(function () {
        $("#botonCerrar").button();
    });

</script>


<table width="100%">
<tr>
    <td>
        <img src="" />
    </td>
    <td>
        <div>
            <text>Esta sección se encuentra aún en fase de prueba.
            <br />
            <br />
            Si queres agregar tu bondi ricotero para ir a Mendoza mandanos un mail a <a href="mailto:bondisricoteros@indiogualeguaychu.com.ar">bondisricoteros@indiomendoza2013.com.ar</a></text>
        </div>
    </td>
</tr>
<tr>
    <td colspan="2" style="text-align: right;">
        <button id="botonCerrar" onclick="javascript: cerrarModalConstruccion();">Continuar</button>
    </td>
</tr>
</table>