
<style type="text/css">
    
#mapArgentinaGeneral img { max-width:none; }

#imgAgregarPartida .hover
{
    ba
}


</style>
<script language="javascript" type="text/javascript">

    var map = null;

    function initialize() {
        var myLatlng = new google.maps.LatLng(-34.598489887510254, -58.42017665505409);
        var myOptions = {
            zoom: 4,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        map = new google.maps.Map(document.getElementById("mapArgentinaGeneral"), myOptions);
    }

    $(function () {
        initialize();

        var pointMendoza = new google.maps.LatLng(-33.021335, -58.525549);

        var infoWindow = new google.maps.InfoWindow({ content: "Cargando..." });


        //        var markerIcon = new google.maps.MarkerImage();
        //        markerIcon.size = new google.maps.Size(16, 16);

        $.ajax({
            type: "POST",
            url: "/Home/GetPosiciones",
            success: function (data) {
                $.each(data, function (index, data) {
                    var point = new google.maps.LatLng(data.Latitud, data.Longitud);

                    var marker = new google.maps.Marker({
                        position: point,
                        map: map,
                        html: "<div style='color: black'><b>" + data.Nombre + "</b>" + "<br>" + ((data.Comentarios == null) ? '' : data.Comentarios) + "</div>",
                        icon: { url: "/Content/img/PR-ICON.png" }
                    });

                    var line = new google.maps.Polyline({
                        path: [point, pointMendoza],
                        strokeColor: "#FF0000",
                        strokeOpacity: 1.0,
                        strokeWeight: 1,
                        geodesic: true,
                        map: map
                    });

                    google.maps.event.addListener(marker, "click", function () {
                        infoWindow.setContent(this.html);
                        infoWindow.open(map, marker);
                    });
                });
            },
            error: function (error) {
                alert(error);
            }
        });

    });

</script>
<div style="width:100%; height:100%; min-height: 800px;">
<div>
<table border="0" style="width:100%; height:100%;">
<tr>
    <td rowspan="4">
        <div id="mapArgentinaGeneral" style="width:700px; height:600px"></div>
    </td>
    <td>
        <div style="text-align: center; font-size:medium;">
            <b>Ya somos @ViewBag.CantidadDeRicoteros ricoteros!!!</b>
        </div>
    </td>
</tr>
<tr>
    <td style="height:75px">
        <div style="text-align: center; font-size:medium;">
            <b>Agregá en el mapa tu punto de partida. Mostremos lo que significa una movilización ricotera.</b>
        </div>
    </td>
</tr>
<tr>
    <td nowrap="nowrap" style="vertical-align: top; text-align:center; height:125px;">
        
        <a href="@Url.Action("AgregaTuPuntoDePartida", "MapaRicotero")">
                <img src="/Content/img/BotonAgregarPartida.png" 
                onmouseover="this.src='/Content/img/BotonAgregarPartida_Hover.png'" 
                onmouseout="this.src='/Content/img/BotonAgregarPartida.png'" 
                id="imgAgregarPartida" style="cursor:pointer;" width="250px" />
        </a></td>
</tr>
<tr>
    <td style="vertical-align: top">
        <b><u>Instrucciones</u></b><br /><br />
        1) Presioná el botón "agregar"<br /><br />
        2) En el mapa, buscá tu punto de partida (te aconsejamos utilizar el zoom) y hacé click una vez que lo encuentres.<br /><br />
        3) Completá los campos con tu nombre y algún comentario adicional.<br /><br />
        4) Presioná "enviar".<br />
    </td>
</tr>
</table>
</div>
<br />
<div style="text-align:center">
    <div class="fb-comments" data-href="@(System.Configuration.ConfigurationManager.AppSettings["URLPag"])/MapaRicotero" data-width="950" data-num-posts="10"></div>
</div>
</div>