<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IndioMendoza2013Entities" connectionString="metadata=&quot;res://*/Origenes de Datos.IndioMendoza2013.csdl|res://*/Origenes de Datos.IndioMendoza2013.ssdl|res://*/Origenes de Datos.IndioMendoza2013.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PANRO-PC\;Initial Catalog=IndioMendoza2013;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>