@using IndioMendoza2013.Modelos

<script language="javascript" type="text/javascript">

</script>
<div>
    <div class="fb-like" data-href="https://www.facebook.com/IndioMendoza2013" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
</div>