@{
    ViewBag.Title = "NoticiasRicoteras";
}

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('.bxslider').bxSlider({
            auto: true,
            autoControls: true,
            speed: 1000
        });
    });

</script>
<div style="width: 600px;">

<div class="bxslider" style="height: 450px; ">
    <div style="height: 450px; background-color: Black; text-align:center; padding-left:8px;">
        <img height="450px" src="/Content/img/flyer%20indio%20mendoza%202013.jpg" />
    </div>
    <div style="height: 450px;text-align:center;">
        <img height="450px" src="/Content/img/flyer%20indio%20mendoza%202013%202.jpg" />
    </div>
    <div style="height: 450px;text-align:center; color:White;background-color:Black;">
        <div style="height: 450px; background-image: url('/Content/img/Indio%20noticia%20-%20aclaración.jpg');"><h2>ACLARACION SOBRE EL SHOW DE INDIO EN MENDOZA el 14/09/2013</h2>
        <br />
        <br />
        Debido a versiones difundidas en varios medios, queremos aclarar que el nuevo trabajo discográfico de Indio no va a ser presentado en el anunciado show del 14 de Septiembre en la ciudad de Mendoza.
        <br />
        Estamos en proceso de grabación, no tenemos fecha cierta de salida pero estimamos que será para fin de este año 2013.
        <br />
        Nos vemos en Mendoza.
        <br />
        Julio Saez
        Indio Solari</div>
    </div>
</div>


</div>

