
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('.bxslider').bxSlider({
            auto: true,
            autoControls: true,
            speed: 1000
        });
    });

</script>
<div style="width: 650px;">

<div class="bxslider" style="height: 450px; ">
    <div style="height: 490px; background-color: Black; text-align:center; ">
        <img height="490px" width="650px" src="/Content/img/indio_mendoza_2013_entradas.jpg" />
    </div>
    <div style="height: 490px;text-align:center;">
        <img height="426px" src="/Content/img/noticia1.png" style="vertical-align: middle;  padding-top:30px" />
    </div>
    <div style="height: 490px;text-align:center;">
        <img height="490px" src="/Content/img/noticia2.png" />
    </div>
</div>


</div>

