@using IndioMendoza2013.Modelos
@model modContacto
<script language="javascript" type="text/javascript">

    function btnSubmit_click() {
        $("#frmContacto").submit();
    }

    function frmContacto_success() {
        alert('Su consulta ha sido enviada.');
        document.location = '@Url.Action( "Index", "Contacto" )';
    }

    function frmContacto_failure(error) {
        alert($(error.response)[1].innerHTML);
    }

</script>
@using (Ajax.BeginForm("Enviar", "Contacto", new AjaxOptions
{
    UpdateTargetId = "divResultados",
    InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
    OnSuccess = "frmContacto_success",
    OnFailure = "frmContacto_failure"
},
new { id = "frmContacto" }))
{
    <div style="width:100%; min-height: 800px;">
    <table>
    <tr>
        <td>Nombre:</td>
        <td>@Html.TextBoxFor(x => x.Nombre, new { style = "width: 600px;" })</td>
    </tr>
    <tr>
        <td>Contacto:</td>
        <td>@Html.TextBoxFor(x => x.Contacto, new { style = "width: 600px;" })</td>
    </tr>
    <tr>
        <td>Consulta:</td>
        <td>@Html.TextAreaFor(x => x.Consulta, new { style = "width: 600px; height: 100px;" })</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center;">
            <input id="btnSubmit" type="button" style="font-size:large; font-weight:bold;" value="Enviar" onclick="javascript: return btnSubmit_click();" />
        </td>
    </tr>
    </table>
    </div>
    <div id="divResultados"></div>
}