@using IndioMendoza2013.Modelos
@model modContacto
<script language="javascript" type="text/javascript">

    function btnSubmit_click() {
        $("#frmContacto").submit();
    }

    function frmContacto_success() {
        alert('Su consulta ha sido enviada.');
        document.location = '@Url.Action( "Index", "Contacto" )';
    }

    function frmContacto_failure(error) {
        alert($(error.response)[1].innerHTML);
    }

</script>
@using (Ajax.BeginForm("Enviar", "Contacto", new AjaxOptions
{
    UpdateTargetId = "divResultados",
    InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
    OnSuccess = "frmContacto_success",
    OnFailure = "frmContacto_failure"
},
new { id = "frmContacto" }))
{
    <div style="width:100%; min-height: 640px;" id="contactoContent">
    <table width="100%">
    <tr>
        <td style="height: 100px;">&nbsp;</td>
    </tr>
    
    <tr>
        <th rowspan="5" style="width: 50%;">&nbsp;</th>
    </tr>
    <tr>
        <td style="width: 10%;">Nombre:</td>
        <td style="width: 40%;">@Html.TextBoxFor(x => x.Nombre, new { style = "width: 400px;" })</td>
    </tr>
    <tr>
        <td style="width: 10%;">Contacto:</td>
        <td style="width: 40%;">@Html.TextBoxFor(x => x.Contacto, new { style = "width: 400px;" })</td>
    </tr>
    <tr>
        <td style="width: 10%;">Consulta:</td>
        <td style="width: 40%;">@Html.TextAreaFor(x => x.Consulta, new { style = "width: 400px; height: 100px;" })</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center; width: 50%;">
            <input id="btnSubmit" type="button" style="font-size:large; font-weight:bold;" value="Enviar" onclick="javascript: return btnSubmit_click();" />
        </td>
    </tr>
    </table>
    </div>
    <div id="divResultados"></div>
}